body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: sans-serif;
    
}
header {
    margin-top: 0px;
    border-top: 5px solid #e1251b ;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
div{
    padding: 20px;
}

.logo-img {
    height: 50px; /* small logo */
    margin-right: 15px; /* put space between the title and logo */
}
ul{
    list-style-type: none; /*remove the bullet points*/
}

/*.art-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.art-title {
    margin-right: 20px;
}
Putting this here just in case I want to test out the alignment with the images / text.
- Shianne     
*/

.art-img-div{
    display: flex;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}
.art-img{
    width:100%;
    max-width: 800px;
    border-radius: 8px;
    height: auto; 
    display: block;
}
/* .map-div{
    
} */

.map-img {
    height: 100px; /* smaller map */

}

footer{
    background-color: #333;
    color: white;
    padding: 20px;
}

.footer-btn{
    background-color: #e1251b;
    display: inline-block;
    padding: 2px 18px;
    text-align: center;
    border-radius: 50%;
    box-shadow: none;
    color: black;
    font-size: 250%;  
    border: none;
    transition: transform 0.2s;
}
.footer-btn:hover {
    background-color: #be0403; /* Darker colour when hover */
    transform: scale(1.2); /*make the arrow bigger*/
}

.stickToBottom {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between; /* Space out buttons to the edges */
    align-items: center; /* Center buttons vertically */
    background-color: rgba(204, 204, 204, 0.5);
    padding: 20px;
}
