body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: sans-serif;
    
}
header {
    margin-top: 0px;
    border-top: 5px solid #e1251b ;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-img {
    height: 50px; /* small logo */
    margin-right: 15px; /* put space between the title and logo */
}
ul{
    list-style-type: none; /*remove the bullet points*/
}
.art-img-div{
    padding: 0 20px;
    box-sizing: border-box;
}
.art-img{
    width:100%;
    max-width: 800px;
    border-radius: 8px;
    height: auto; 
    display: block;
}
.map-div{
    background-color: #ccc;
}

.map-img {
    height: 100px; /* smaller map */

}
footer{
    background-color: #333;
    padding: 20px;
}
.footer-div{
    display: flex;
    justify-content: space-between; /* Space out buttons to the edges */
    align-items: center; /* Center buttons vertically */
}
.footer-btn{
    background-color: #e1251b;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    box-shadow: none;
    border: none;
}
.footer-btn:hover {
    background-color: #be0403; /* Darker colour when hover */
}
