<div id = "Te_Manawaroa">
    <h1>Te Manawaroa</h1>
    <ul>
        <li>Artists: Various</li>
        <li>Year of creation: 2019</li>
        <li>Material: Powder coated 5mm aluminium, external LED lighting</li>
    </ul>
</div>


<div id = "Te_Kuraimonoa">
    <h1>Te Kuraimonoa</h1>
    <ul>
        <li>Artists: Jamie Boynton</li>
        <li>Year of creation: 2019</li>
        <li>Material: Ply wood, oil based paint & appoxy resin</li>
    </ul>
</div>

<div id = "Pātiki">
    <h1>Pātiki</h1>
    <ul>
        <li>Artists: Maraea Timutimu</li>
        <li>Year of creation: 2019</li>
        <li>Material: Sand blasted acrylic, wire, acrylic dowel</li>
    </ul>
</div>

<div  id = "Ngā_Maunga">
    <h1>Ngā Maunga</h1>
    <ul>
        <li>Artist: James Tapiata</li>
        <li>Year of creation: 2019</li>
        <li>Material: Swamp kauri backed with 3mm aluminium with vinyl film possibly</li>
    </ul>
</div>

<div id = 'He_niho'>
    <h1>He niho taniwha, he, kete kai, he maunga</h1>
    <ul>
        <li>Artists: Melissa Willison & Teresa Nepe</li>
        <li>Year of creation: 2019</li>
        <li>Material: Kiekie fibre, dowling, wooden slats, paint</li>
    </ul>
</div>

<div id = 'Pou_tūārongo'>
    <h1>Pou tūārongo</h1>
    <ul>
        <li>Artists: Michael Mason</li>
        <li>Year of creation: 2019</li>
        <li>Material: Painted swamp kauri/li>
    </ul>
</div>

<div id = 'Ngā_Waka'>
    <h1>Ngā Waka</h1>
    <ul>
        <li>Artists: Robert Turner</li>
        <li>Year of creation: 2019</li>
        <li>Material: Swamp kauri</li>
    </ul>
</div>


<div id = 'Te_Moana'>
    <h1>Te Moana</h1>
    <ul>
        <li>Artists: Shona Tawhiao</li>
        <li>Year of creation: 2019</li>
        <li>Material: Acrylic, copper wire</li>
    </ul>
</div>

<div id = 'Ngā_Hau'>
    <h1>Ngā Hau e Whā o te Ao</h1>
    <ul>
        <li>Artists: Kereama Taepa</li>
        <li>Year of creation: 2019</li>
        <li>Material: 3D printed</li>
    </ul>
</div>





