<div id = "Te_Manawaroa">
    <h1>Te Manawaroa</h1>
    <ul>
        <li>Artists: Various</li>
        <li>Year of creation: 2019</li>
        <li>Material: Powder coated 5mm aluminium, external LED lighting</li>
    </ul>
</div>


<div id = "Te_Kuraimonoa">
    <h1>Te Kuraimonoa</h1>
    <ul>
        <li>Artists: Jamie Boynton</li>
        <li>Year of creation: 2019</li>
        <li>Material: Ply wood, oil based paint & appoxy resin</li>
    </ul>
</div>

<div id = "Pātiki">
    <h1>Pātiki</h1>
    <ul>
        <li>Artists: Maraea Timutimu</li>
        <li>Year of creation: 2019</li>
        <li>Material: Sand blasted acrylic, wire, acrylic dowel</li>
    </ul>
</div>

<div  id = "Ngā_Maunga">
    <h1>Ngā Maunga</h1>
    <ul>
        <li>Artist: James Tapiata</li>
        <li>Year of creation: 2019</li>
        <li>Material: Swamp kauri backed with 3mm aluminium with vinyl film possibly</li>
    </ul>
</div>
